<a href="https://colab.research.google.com/github/masonr9/PythonTutorial/blob/main/PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 5
sum = a + b
difference = a - b
product = a * b
division = a / b
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Division:", division)

Sum: 15
Difference: 5
Product: 50
Division: 2.0

In [ ]:
print(f"The sum of the two numbers {a},{b} is {sum}")

The sum of the two numbers 10,5 is 15

In [ ]:
x = 13//2
print(x)

6

In [ ]:
y = 13 % 2
print(y)

1

In [ ]:
x = 10
y = 5
is_greater = x > y
is_equal = x == y
is_not_equal = x != y
print("Is x greater than y?", is_greater)

Is x greater than y? True

In [ ]:
print("Is x equal y?", is_equal)

Is x equal y? False

In [ ]:
print("Is x not equal to y?", is_not_equal)

Is x not equal to y? True

In [ ]:
def greet(name):
  return "Hello," + name + "!"
greet("Ryan")

'Hello,Ryan!'

In [ ]:
my_name = input("Enter your name:")
greet(my_name)

Enter your name:Ryan

'Hello,Ryan!'

In [ ]:
def add_numbers(a,b):
  return a+b

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))

addition_value = add_numbers(a,b)
print(f"The result of addition for {a}, {b} is {addition_value}")

Enter first number:1
Enter second number:2
The result of addition for 1, 2 is 3

In [ ]:
def add_numbers(a,b):
  return a+b

a = eval(input("Enter first number:"))
b = eval(input("Enter second number:"))

addition_value = add_numbers(a,b)
print(f"The result of addition for {a}, {b} is {addition_value}")

Enter first number:-4.5
Enter second number:10
The result of addition for -4.5, 10 is 5.5

In [ ]:
message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print("Original Message: ", message)
print("The length is: ", length)
print("Upper case: ", uppercase)
print("Lower case: ", lowercase)
print("Part of the message is: ", substring)

Original Message:  Hello, World
The length is:  12
Upper case:  HELLO, WORLD
Lower case:  hello, world
Part of the message is:  World

In [ ]:
Last = input("Enter the last name: ")
First = input("Enter the first name: ")
print(f"{Last},{First}")

Enter the last name: Mason
Enter the first name: Ryan
Mason,Ryan

In [ ]:
age = int(input("Enter your age: "))
print("You will be", age + 1, "years old next year.")

Enter your age: 23
You will be 24 years old next year.

In [ ]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
sum_result = num1 + num2
print("Sum:", sum_result)

Enter a number: 12
Enter another number: 14
Sum: 26.0

In [ ]:
city = input("Enter your city: ")
country = input("Enter your country: ")
location = city + ", " + country
print("You are in:", location)

Enter your city: New Haven
Enter your country: USA
You are in: New Haven, USA

In [ ]:
name, age = input("Enter your name and age separated by space: ").split()
print(f"my name is {name} and my age is {age}")

Enter your name and age separated by space: Ryan 23
my name is Ryan and my age is 23

In [ ]:
+